.btnContainer{
    background: #405C72;
    display: flex;
    flex-direction: column;
}

.infoContainer{
    background: white;
    background-image: url("../../images/xp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btnAboutMe{
    background: none;
    border: none;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    line-height: initial;
    padding: 1rem;
    margin: 0 auto;
    color: white;
}

.btnAboutMe:hover{
    color: #ffc600;
    cursor: pointer;
}

.win98Container{
    display: flex;
}